:root {
  --border-radius: 5px;

  --color-dark: rgb(17, 17, 17);
  --color-shade-005: rgba(17, 17, 17, 0.05);
  --color-shade-01: rgba(17, 17, 17, 0.1);
  --color-shade-02: rgba(17, 17, 17, 0.2);
  --color-shade-03: rgba(17, 17, 17, 0.3);
  --color-shade-04: rgba(17, 17, 17, 0.4);
  --color-shade-05: rgba(17, 17, 17, 0.5);
  --color-shade-06: rgba(17, 17, 17, 0.6);
  --color-shade-07: rgba(17, 17, 17, 0.7);
  --color-shade-08: rgba(17, 17, 17, 0.8);

  --color-light: rgb(255, 255, 255);
  --color-highlight-005: rgba(255, 255, 255, 0.05);
  --color-highlight-01: rgba(255, 255, 255, 0.1);
  --color-highlight-02: rgba(255, 255, 255, 0.2);
  --color-highlight-03: rgba(255, 255, 255, 0.3);
  --color-highlight-04: rgba(255, 255, 255, 0.4);
  --color-highlight-05: rgba(255, 255, 255, 0.5);
  --color-highlight-06: rgba(255, 255, 255, 0.6);
  --color-highlight-07: rgba(255, 255, 255, 0.7);
  --color-highlight-08: rgba(255, 255, 255, 0.8);

  --color-surface: var(--color-light);

  --color-text: black;
  --color-text-reverse: white;

  --color-accent: rgb(174, 16, 206);
  --color-select: rgb(22, 75, 246);
}

body {
  background: var(--color-surface);
  color: var(--color-text);

  * {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
  }

  .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.primary {
  padding: 20px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.secondary {
  width: 300px;
  padding: 20px;
  height: 100vh;
  border-left: 1px solid var(--color-shade-02);
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
}

.app.is-sidebar-open {

  .primary {
    width: calc(100% - 300px);
  }

  .secondary {
    transform: translateX(0);
  }
}