.wp-list__item {
    background: var(--color-tint-0025);
    border-radius: 5px;
    padding: 15px 20px;

    &:hover {
        background: var(--color-tint-005);
    }

    &.is-selected {
        background: var(--color-selected);
        color: var(--color-selected-label);

        .wp-list__item__description {
            color: var(--color-selected-label);
        }
    }
}

.wp-list__item__label {
    font-weight: 600;
    flex: 1;
}

.wp-list__item__description {
    font-size: var(--font-size-small);
    color: var(--color-tint-06);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wp-list__item__image {
    img {
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 5px;
    }
}