.preview {
    height: 100%;
    width: 100%;
    color: black;
    overflow: auto;
    padding: 20px;
    background: rgb(184, 192, 234);
}

.preview__header__site {
    flex: 1;

    img {
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(black, 0.2);
    }

    h1 {
        font-size: 24px;
        font-weight: 500;
    }
}

.preview__header__nav {
    label {
        &.current {
            font-weight: 700;
        }
    }
}

.preview__content {
    margin: 40px auto;

    h1 {
        font-size: 30px;
        text-align: center;
        margin: 0 0 30px 0;
    }
}

.preview-product {
    width: 100%;

    img {
        display: block;
        width: 100%;
        height: auto;
        max-height: 200px;
        border-radius: 5px;
    }

    h2 {
        font-size: 24px;
        font-weight: 500;
        margin: 20px 0;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }

    label {
        font-size: 24px;
        font-weight: 500;
        margin: 20px 0;
    }

    button {
        padding: 10px 20px;
        border-radius: 5px;
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
}