/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  background: white;
}
body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

#top-bar {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
#top-bar h1 {
  flex: 1;
  font-size: 20px;
}
#top-bar #select-mode {
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: blue;
}
#top-bar #select-mode:hover {
  background: rgba(0, 0, 0, 0.1);
}
#top-bar #view-type {
  display: flex;
  gap: 5px;
  padding: 2px;
  background: rgba(0, 0, 0, 0.075);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) inset;
  border-radius: 5px;
}
#top-bar #view-type .view-type-option {
  position: relative;
  padding: 4px;
  border-radius: 3px;
}
#top-bar #view-type .view-type-option input[type=radio] {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#top-bar #view-type .view-type-option label {
  position: absolute;
  bottom: -25px;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 5px;
  padding: 2px 8px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  transition-delay: 250ms;
}
#top-bar #view-type .view-type-option .icon {
  display: block;
  height: 25px;
  width: 25px;
  stroke: rgba(0, 0, 0, 0.4);
}
#top-bar #view-type .view-type-option.checked {
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}
#top-bar #view-type .view-type-option.checked input[type=radio] {
  pointer-events: none;
}
#top-bar #view-type .view-type-option.checked .icon {
  stroke: black;
}
#top-bar #view-type .view-type-option:hover label {
  opacity: 1;
  transition-delay: 1.5s;
}
#top-bar #view-type .view-type-option:hover .icon {
  stroke: black;
}
#top-bar #view-settings {
  position: relative;
}
#top-bar #view-settings.toggled #view-settings__button {
  background: black;
}
#top-bar #view-settings.toggled #view-settings__button .icon {
  stroke: white;
}
#top-bar #view-settings.toggled #view-settings__menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#top-bar #view-settings__button {
  padding: 6px;
  border: none;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}
#top-bar #view-settings__button .icon {
  display: block;
  height: 25px;
  width: 25px;
  stroke: rgba(0, 0, 0, 0.4);
}
#top-bar #view-settings__button:hover {
  background: rgba(0, 0, 0, 0.075);
}
#top-bar #view-settings__button:hover .icon {
  stroke: black;
}
#top-bar #view-settings__menu {
  position: absolute;
  top: 40px;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-5px);
  transition: all 0.075s ease-in-out;
}
#top-bar #view-settings__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#top-bar #view-settings__menu ul h3 {
  font-size: 12px;
}
#top-bar #view-settings__menu ul li {
  padding: 15px 20px;
}

#media {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  position: relative;
}
#media.is-grid-view {
  flex-wrap: wrap;
}
#media.is-list-view {
  flex-direction: column;
}

.media-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
.media-item .media-item__preview {
  height: 100%;
  display: flex;
  align-items: center;
}
.media-item .media-item__preview .media-item__image img {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.media-item .media-item__description .description__technicals {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}
.media-item .media-item__description .description__technicals li {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
}
.media-item .media-item__actions {
  display: flex;
  gap: 5px;
  opacity: 0;
}
.media-item .media-item__actions button {
  border: 0;
  padding: 0;
  background: none;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}
.media-item .media-item__actions button:hover {
  opacity: 0.6;
}
.media-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.is-grid-view .media-item {
  width: calc(25% - 20px);
  gap: 0;
  padding: 5px;
  margin: 5px;
}
.is-grid-view .media-item .media-item__preview img {
  height: auto;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.is-grid-view .media-item .media-item__description,
.is-grid-view .media-item .media-item__actions {
  display: none;
}

.is-list-view .media-item {
  gap: 20px;
  padding: 10px;
  margin: 10px;
}
.is-list-view .media-item .media-item__preview img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.is-list-view .media-item:hover .media-item__actions {
  opacity: 1;
}

.media-item-old {
  width: calc(25% - 12px);
  margin: 1px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  transition: all 0.1s ease-in-out;
}
.media-item-old .media-item__preview {
  height: 100%;
  display: flex;
  align-items: center;
}
.media-item-old .media-item__image img {
  height: auto;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.media-item-old .media-item__description {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  pointer-events: none;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.1s ease-in-out;
}
.media-item-old:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.media-item-old:hover .media-item__description {
  opacity: 1;
  transform: translateY(0);
}

.media-item-clone {
  z-index: 1;
  animation: scaleOut 0.2s ease-in-out;
}

@keyframes scaleOut {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 1;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#media-details {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
#media-details #media-details__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 80px;
}
#media-details #media-details__header #media-details__navigation {
  display: flex;
}
#media-details #media-details__header #media-details__tools {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}
#media-details #media-details__header #media-details__tools .tool {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
#media-details #media-details__header #media-details__tools .tool:hover {
  background: rgba(0, 0, 0, 0.1);
}
#media-details #media-details__header #media-details__tools .tool-label {
  display: none;
}
#media-details #media-details__header #media-details__tools .tool-icon {
  display: block;
  height: 24px;
  width: 24px;
}
#media-details #media-details__main {
  display: flex;
  height: calc(100vh - 80px - 110px);
}
#media-details #media-details__sidebar {
  width: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
#media-details #media-details__sidebar .sidebar__container {
  min-width: 250px;
}
#media-details #media-details__sidebar.opened {
  opacity: 1;
  width: 250px;
}
#media-details #media-details__preview {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scaleIn 0.1s ease-in-out;
}
#media-details #media-details__preview #media-details__image img {
  max-height: calc(100vh - 80px - 110px);
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5);
}
#media-details #media-details__description {
  padding: 20px;
  height: 110px;
}
#media-details #media-details__description h1,
#media-details #media-details__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#media-details #media-details__description h1 {
  font-size: 30px;
}
#media-details #media-details__description p {
  font-size: 15px;
}/*# sourceMappingURL=styles.css.map */