body {
    background: #2a1f56 linear-gradient(#010101, #2a1f56) fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #fff;
    padding: 20px;
}

p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    line-height: 1.6;
}

a {
    color: #fff;
    text-decoration: underline;
}

.wrap {
    max-width: 500px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.the-order {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
}

.badge svg .shadow {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.messaging {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
}

h1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
    line-height: 1;
}

h1 small {
    font-size: 15px;
    color: #01CF35;
    letter-spacing: 3.75px;
    text-transform: uppercase;
}

h1 strong {
    font-size: 32px;
    color: #88FFA6;
    text-shadow: 0px 0px 8px #01CF35;
}

.subscribe {
    display: flex;
    gap: 20px;
}

.subscribe.loading {
    opacity: 0.5;
    pointer-events: none;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.1;
    }
}

.error, .submitted {
    display: none;
}

.error {
    padding: 15px 20px;
    border: 1px solid #FF0000;
    border-radius: 5px;
}

.error p {
    color: #FF0000;
}

.submitted {
    padding: 15px 20px;
    border: 1px solid #01CF35;
    border-radius: 5px;
}

.submitted p {
    color: #01CF35;
}

input {
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    flex-grow: 1;
    /* color: #fff; */
    color: #01CF35;
    transition: all 0.1s linear;
}

input:hover {
    border-color: rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0.6);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

input:focus,
input:focus:hover {
    outline: none;
    border-color: #01CF35;
    background: rgba(0, 0, 0, 0.8);
}

input:focus::placeholder {
    /* color: #01CF35; */
    color: rgba(255, 255, 255, 0.25);
}

button {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 10px 20px;
    transition: all 0.1s ease-in-out;
    background: #01CF35;
    cursor: pointer;
}

button:hover {
    background-color: #12e045;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.footnote {
    opacity: 0.5;
}

.footnote:hover {
    opacity: 1;
}

.footnote p {
    font-size: 14px;
}

.footnote p strong {
    color: #fff;
}

.supporter-badge {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.supporter-badge:hover {
    background: rgba(0, 0, 0, 0.5);
}

.supporter-badge img {
    width: 80px;
    height: 80px;
}

.supporter-badge p {
    margin: 0;
    font-size: 14px;
}