/* CSS Colors Variables */
:root {
	--color-surface: white;
	--color-background: #efefef;
	--color-text: #111;
	--color-spot: rgb(200, 0, 255);
	--shade-50: rgba(0, 0, 0, 0.5);
	--shade-10: rgba(0, 0, 0, 0.1);
	--shade-05: rgba(0, 0, 0, 0.05);
	--light-50: rgba(255, 255, 255, 0.5);
	--light-10: rgba(255, 255, 255, 0.1);
	--light-05: rgba(255, 255, 255, 0.05);
}

body {
	background: var(--color-background);
	color: var(--color-text);
}

body.is-modal #scrim {
	opacity: 1;
	pointer-events: auto;
}

a {
	color: var(--color-spot);
}

button {
	background: black;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	line-height: 1;
}

button.mini {
	padding: 2.5px 10px;
	border-radius: 5px;
	font-size: .9em;
}