/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: system-ui, sans-serif;
  /* font-size: 137.5%; */
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

/* Copy & Lists */
p {
  line-height: 1.5rem;
}

li,
li {
  line-height: 1.5rem;
}

blockquote {
  line-height: 1.5rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.75rem;
}

h5 {
  font-size: 0.5rem;
}

h6 {
  font-size: 0.4rem;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}

table td,
table th {
  padding: 0;
  line-height: 33px;
}

/* Code blocks */
code {
  vertical-align: bottom;
}