:root {
	--color-background: #001935;
	--color-background-semi: rgba(0, 25, 53, 0.75);
	--color-text: #fff;

	--color-surface: #fff;
	--color-surface-semi: rgba(255, 255, 255, 0.75);
	--color-surface-text: #000;

	--color-input: rgba(255, 255, 255, 0.5);
	--color-input-focus: var(--color-surface);

	--color-accent: #00b8ff;
	--color-accent-text: #000;

	--premium-glass-gradient: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.008) 0%,
		rgba(255, 255, 255, 0.008) 20%,
		rgba(255, 255, 255, 0.08) 100%
	);
}

body {
	background: var(--color-background);
	color: var(--color-text);
	
}

body.no-scroll {
  overflow: hidden;
}

button {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.075);
	padding: 2.5px 10px;
	border-radius: 5px;
	box-shadow:
		0 0 0 1px inset rgba(0, 0, 0, 0.25),
		0 1px 1px rgba(0, 0, 0, 0.125);
}

button:hover {
	background: rgba(0, 0, 0, 0.05);
	box-shadow:
		0 0 0 1px inset rgba(0, 0, 0, 0.5),
		0 1px 1px rgba(0, 0, 0, 0.25);
}

button.reversed {
	color: white;
	background: rgba(255, 255, 255, 0.075);
	box-shadow:
		0 0 0 1px inset rgba(255, 255, 255, 0.25),
		0 1px 1px rgba(255, 255, 255, 0.125);
}

button.reversed:hover {
	background: rgba(255, 255, 255, 0.05);
	box-shadow:
		0 0 0 1px inset rgba(255, 255, 255, 0.5),
		0 1px 1px rgba(255, 255, 255, 0.25);
}
