:root {
  --color-surface: rgb(247, 247, 247);
  --color-surface-blur: rgba(247, 247, 247, 0.8);
  --color-card: rgb(255, 255, 255);
  --color-card-divider: rgba(0, 0, 0, 0.25);
  --color-accent: rgb(0, 135, 16);
  --color-text: rgb(0, 0, 0);
  --color-text-alpha-75: rgba(0, 0, 0, 0.75);
  --color-text-alpha-50: rgba(0, 0, 0, 0.5);
  --color-text-reverse: rgb(255, 255, 255);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-scrim: rgba(0, 0, 0, 0.5);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-surface: rgb(10, 10, 10);
    --color-surface-blur: rgba(0, 0, 0, 0.8);
    --color-card: rgb(20, 20, 20);
    --color-card-divider: rgb(60, 60, 60);
    --color-accent: rgb(0, 135, 16);
    --color-text: rgb(255, 255, 255);
    --color-text-alpha-75: rgba(255, 255, 255, 0.75);
    --color-text-alpha-50: rgba(255, 255, 255, 0.5);
    --color-text-reverse: rgb(0, 0, 0);
    --color-shadow: rgba(255, 255, 255, 0.1);
    --color-scrim: rgba(0, 0, 0, 0.8);
  }
}

:root {
  --border-radius: 10px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

body {
  background: var(--color-surface);
  color: var(--color-text);
  overflow: hidden;
}

#viewport {
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: contain;
}

.table-view {
  border-radius: var(--border-radius);
  background: var(--color-card);
  padding-left: 54px;
  margin-bottom: 20px;
}
.table-view li {
  padding: 15px 20px 15px 0;
  border-bottom: 0.5px solid var(--color-card-divider);
}
.table-view li:last-child {
  border-bottom: none;
}
.table-view:last-child {
  margin-bottom: 0;
}

.dropdown-menu {
  position: relative;
}
.dropdown-menu .dropdown-menu__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 40px;
  padding: 0 20px;
  background: var(--color-card);
  border-radius: var(--border-radius);
}
.dropdown-menu .dropdown-menu__button.icon-only {
  background: none;
}
.dropdown-menu .dropdown-menu__options {
  position: absolute;
  top: 40px;
  min-width: 200px;
  background: var(--color-card);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 15px var(--color-shadow);
}
.dropdown-menu.position-left .dropdown-menu__options {
  left: 5px;
}
.dropdown-menu.position-right .dropdown-menu__options {
  right: 5px;
}
.dropdown-menu .dropdown-menu__option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  padding-left: 46px;
  color: var(--color-text);
  border-bottom: 0.5px solid var(--color-card-divider);
}
.dropdown-menu .dropdown-menu__option label {
  flex-grow: 1;
}
.dropdown-menu .dropdown-menu__option.active {
  padding-left: 20px;
}
.dropdown-menu .dropdown-menu__option:last-child {
  border-bottom: none;
}

.toolbar-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

button {
  color: var(--color-text);
}

button.icon-only {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius);
}

.section-heading-menu button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  min-height: 40px;
}
.section-heading-menu h1 {
  font-weight: 700;
  font-size: 22px;
}
.section-heading-menu .section-heading-menu__options {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  background: var(--color-card);
  border-bottom: 0.5px solid var(--color-card-divider);
  padding: 0 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.section-heading-menu .section-heading-menu__option {
  border-radius: 5px;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.section-heading-menu .section-heading-menu__option label {
  flex-grow: 1;
}
.section-heading-menu .section-heading-menu__option.active {
  background: var(--color-shadow);
}

.card {
  background: var(--color-card);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card .card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  min-height: 40px;
}
.card .card__content {
  padding: 0 20px 20px 20px;
}
.card hr {
  margin-left: -20px;
  margin-right: -20px;
}

.view {
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
  height: calc(100vh - 83px);
}
.view::-webkit-scrollbar {
  display: none;
}
.view .view__header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 5px 0 5px 20px;
  background: var(--color-card);
  border-bottom: 0.5px solid var(--color-card-divider);
}
.view .view__header.toolbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.view .view__content {
  display: flex;
  flex-direction: column;
  padding-top: 51px;
  padding-bottom: 20px;
}
.view .view__content .segmented-control:first-child {
  margin: 20px;
}

.tab-bar {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: var(--color-card);
  border-top: 0.5px solid rgba(0, 0, 0, 0.25);
  padding: 5px 15px 25px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tab-bar .tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 5px;
  width: 33.3%;
  border-radius: var(--border-radius);
  color: var(--color-text);
  opacity: 0.35;
}
.tab-bar .tab svg {
  height: 24px;
  width: 24px;
  fill: var(--color-text);
}
.tab-bar .tab label {
  font-size: 11px;
}
.tab-bar .tab.active {
  opacity: 1;
}

.scrim {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: var(--color-scrim);
  transition: all 0.15s ease-out;
}
.scrim.is-hidden {
  pointer-events: none;
  opacity: 0;
}
.scrim.is-visible {
  opacity: 1;
}

.sheet {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 20px 20px 50px 20px;
  background: var(--color-card);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  transition: all 0.15s ease-out;
}
.sheet.is-hidden {
  pointer-events: none;
  transform: translateY(100%);
}
.sheet.is-visible {
  transform: translateY(0);
}

.segmented-control {
  display: flex;
  flex-direction: row;
  background: var(--color-shadow);
  border-radius: var(--border-radius);
  padding: 2px;
  overflow: hidden;
}
.segmented-control .segment {
  flex-grow: 1;
  text-align: center;
  padding: 6px 15px;
  border-radius: 8px;
  color: var(--color-text-alpha-50);
}
.segmented-control .segment.active {
  font-weight: 500;
  background: var(--color-card);
  color: var(--color-text);
  box-shadow: 0 1px 2px var(--color-shadow);
}

.current-site .site {
  gap: 10px;
}
.current-site .site .site-icon {
  display: none;
}
.current-site .site .site-title {
  font-weight: 700;
  font-size: 22px;
}
.current-site .site .site-url {
  display: none;
}

.site {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.site .site-icon {
  height: 52px;
  width: 52px;
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site .site-icon img {
  display: block;
  height: 100%;
  width: 100%;
}
.site .site-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.site .site-title {
  font-weight: 400;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.site .site-title svg {
  fill: var(--color-text);
}
.site .site-url {
  color: var(--color-text-alpha-50);
  font-size: 14px;
}

.sites-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sites-list .active {
  border-bottom: 0.5px solid var(--color-card-divider);
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sites-list .active-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.sites-list .active-actions button {
  width: 50%;
  color: black;
}
.sites-list .active-actions button.primary {
  background: var(--color-accent);
  color: var(--color-card);
}
.sites-list .add-site {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.sites-list .add-site .icon {
  height: 52px;
  width: 52px;
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-shadow);
}
.sites-list .add-site .icon svg {
  height: 20px;
  width: 20px;
  fill: var(--color-text);
}
.sites-list .add-site label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sites-list .add-site label strong {
  font-weight: 400;
  font-size: 17px;
}
.sites-list .add-site label small {
  font-size: 14px;
  display: block;
  color: var(--color-text-alpha-50);
}

.my-site__home {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.my-site__home .todays-stats .chart {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  gap: 5px;
}
.my-site__home .todays-stats .chart .bar {
  position: relative;
  width: 20%;
  background-color: var(--color-accent);
  border-radius: 2px;
  margin-bottom: 20px;
}
.my-site__home .todays-stats .chart .bar span {
  position: absolute;
  bottom: -20px;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 12px;
}
.my-site__home .todays-stats .stats {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}
.my-site__home .todays-stats .stats .stat {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.my-site__home .todays-stats .stats .stat .label {
  text-transform: uppercase;
  font-size: 13px;
  color: var(--color-text-alpha-50);
}
.my-site__home .todays-stats .stats .stat .value {
  font-weight: 500;
  font-size: 30px;
}
.my-site__home .writing-prompt .writing-prompt__responses {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.my-site__home .writing-prompt .avatars {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.my-site__home .writing-prompt .avatars img {
  display: block;
  border-radius: 50%;
  margin-left: -10px;
  border: 2px solid var(--color-card);
}

.my-site__menu h3 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 10px 20px;
  color: var(--color-text-alpha-50);
}

.reader.view .reader__following-posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reader.view .reader__following-sites {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reader-post {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}
.reader-post .post-avatar {
  border-radius: 3px;
}
.reader-post .post-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reader-post .post-meta {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5px;
}
.reader-post .post-meta .site-title {
  font-weight: 500;
}
.reader-post .post-meta .site-url {
  font-size: 12px;
  color: var(--color-text-alpha-50);
}
.reader-post .post-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.4;
}
.reader-post .post-excerpt {
  line-height: 1.6;
}
.reader-post .post-actions {
  margin-left: -10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.notifications.view .notifications-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}
.notifications.view .notification {
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
}
.notifications.view .notification .unread-indicator {
  height: 8px;
  width: 8px;
  border-radius: 6px;
  background: var(--color-accent);
  position: absolute;
  left: -14px;
}
.notifications.view .notification img {
  height: 42px;
  width: 42px;
  border-radius: 40px;
}
.notifications.view .notification .notification__content h4 {
  font-weight: 500;
}
.notifications.view .notification .notification__content h4 strong {
  font-weight: 700;
}
.notifications.view .notification .notification__content p {
  color: var(--color-text-alpha-50);
}

.account-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 50px 0;
}
.account-header img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}/*# sourceMappingURL=style.css.map */