:root {
    --canvas-margin: 20px;
}

.canvas {
    position: absolute;
    right: var(--canvas-margin);
    bottom: var(--canvas-margin);
    z-index: 1;
    background: #fff;
    width: calc(100vw - var(--width-sidebar) - var(--canvas-margin) - var(--canvas-margin));
    height: calc(100vh - var(--height-toolbar) - var(--canvas-margin) - var(--canvas-margin));
    overflow: hidden;
    border: 1px solid var(--color-tint-02);
    border-radius: 10px;
    transition: var(--transition-default);

    &:hover {
        border-color: var(--color-tint-08);
    }

    .canvas__content {
        height: 100%;
        width: 100%;
    }

    .canvas__controls {
        position: fixed;
        right: calc(var(--canvas-margin) * 1.5);
        bottom:calc(var(--canvas-margin) * 1.5);
        background: rgba(black, 0.6);
        backdrop-filter: blur(10px);
        color: white;
        padding: 20px;
        border-radius: 15px;
        opacity: 0;
        transition: var(--transition-default);

        // When the parent is hovered opacit goes to 1
        &:hover {
            opacity: 1;
        }
    }
}

.canvas.full {
    border-radius: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

.canvas.mini {
    width: calc(100vw - var(--width-sidebar-wide) - var(--canvas-margin));
    height: calc(100vh - var(--height-toolbar) - var(--canvas-margin) - var(--canvas-margin))
}

.canvas.pip {
    border-radius: 15px;
    right: calc(var(--canvas-margin) / 1.25);
    bottom: calc(var(--canvas-margin) / 1.25);
    height: 240px;
    width: 360px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
}