.collection {
    position: absolute;
    top: var(--height-toolbar);
    left: var(--width-sidebar);
    right: 40%;
    height: calc(100vh - var(--height-toolbar) - 20px);
    z-index: 1;
    transition: var(--transition-default);

    &.wide {
        right: 20px;
    }
}

.collection__header {
    padding: 25px 30px;
    // outline: 1px solid red;

    h1 {
        flex: 1;
    }
}

.collection__content {
    padding: 0 0 0 20px;
    // outline: 1px solid green;
}