.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--height-toolbar);
    display: flex;
    flex-direction: row;
    ;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 5px;
    border-top: 1px solid var(--color-tint-01);
    border-bottom: 1px solid var(--color-tint-01);
}

.toolbar__actions {}

.toolbar__search {
    background: var(--color-tint-005);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: var(--transition-quick);

    input {
        color: var(--color-text);
        width: 110px;
        transition: var(--transition-quick);
    }

    &:hover {
        background: var(--color-tint-01);
    }

    &:focus-within {
        background: var(--color-dark);
        border-color: var(--color-selected);

        input {
            width: 300px;
        }
    }
}